<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Информация о покемоне</title>
</head>
<body>
<h1 class="text-center">Информация о {{name}}</h1>
<div class="text-center" style="margin-top: 10px">
    <h4>Информация о покемоне сохранена!</h4>
</div>
<div class="text-center" style="margin-top: 10px">
    <a href="{{ url_for('index') }}" style="margin-top: 5px" >На главную</a>
</div>

</body>
</html>